{% extends "base_admin.html.twig" %}

{% block title %}
	Test access control - webpanel
{% endblock %}

{% block body %}
	{{ include('flash_message/_all.html.twig') }}

	<h1 class="header__h1">Gym System Pro ver. 2.0</h1>
{% endblock %}
